.ant-modal-close
	color: #fff!important
.ant-modal-header
	height: 50px!important
	.ant-modal-title
		font-size: 14px
		color: #fff

.searchInput
	width: 300px
	height: 30px
.ant-input
	&:hover
		border-color: #D9D9D9!important
	&:focus
		border-color: #58A86E!important
		box-shadow: 0  0 3px rgba(88,168,110,0.5)
.ant-input
	&::-webkit-input-placeholder, textarea::-webkit-input-placeholder
		color: #ccc
		font-size: 12px

.ant-input
	&:-moz-placeholder, textarea:-moz-placeholder
		color: #ccc
		font-size: 12px

.ant-input
	&::-moz-placeholder, textarea::-moz-placeholder
		color: #ccc
		font-size: 12px
.ant-input
	&:-ms-input-placeholder, textarea:-ms-input-placeholder
		color: #ccc
		font-size: 12px
		
.listChart
	height: 500px
	overflow: auto
	th
		background: #F6F7FA!important
		font-size: 12px
	margin-top: 16px
	.ant-table-tbody
		background: #fff!important
		color: #666 !important
		padding: 12px 16px!important
		font-size: 12px
		.operationBox
			color: #4f9863!important
			width: 100%
			text-align: left
			display: flex
			justify-content: space-between
			align-items: center
				
		tr
			td
				height: 60px!important
	.operation
		cursor: pointer
	.ant-pagination-item-active
		border-color: #4f9863!important
		a
			color: #4f9863!important
	.ant-pagination-item
		&:hover
			border-color: #4f9863!important
		a
			&:hover
				color: #4f9863!important
	
				
.popover
	width: 160px
	height: 78px
	.popoverTitle
		display: block
		text-align: center
		font-size: 12px
		color: #666
		margin: 20px 0
		padding: 0 5px
	.btnBox
		display: flex
		justify-content: space-between
		align-items: center
		padding: 0 5px
		//.btn1
		//	&:hover
		//		border-color: #82B991
		//		color: #82B991
		//	&:active
		//		border-color: #82B991
		//		color: #82B991
		//.btn2
		//	background: #4F9863
		//	color: #fff
		//	&:hover
		//		background: #82B991
		//	&:active
		//		border-color: #82B991
		//
		//
		
.max-roles
	max-width: 400px
	overflow: hidden
	white-space: nowrap
	text-overflow: ellipsis
	
.ant-popover-message
	display: flex
	justify-content: center
	align-items: center
	.ant-popover-message-title
		padding-left: 0!important
		font-size: 12px !important
	