.editContent
	display: flex
	justify-content: space-between
	align-items: center
	padding: 0 10px
	.ant-input
		height: 30px
		font-size: 12px
	.editInput
		width: 320px
		

.ant-modal-body
	max-height: 552px
	overflow: auto
	padding: 20px 30px
	font-size: 12px
.ant-modal-footer
	.ant-btn
		height: 28px!important
		border: 1px solid rgba(217,217,217,1)
		color: #666
	.ant-btn-primary
		height: 28px!important
		background: #4F9863!important
		border: 1px solid #4F9863!important
		color: #fff
		
	