.idCard
	margin-right: 43px
.ant-input
	font-size: 12px
.li
	display: flex
	align-items: flex-start!important
.id_images
	display: flex
	justify-content: center
	align-items: center
	img
		width: 90px
		height: 90px
		margin-left: 10px
		&:first-child
			margin-left: 0