.ant-popover-inner-content
	box-shadow: 0 1px 6px rgba(0,0,0,0.2)
.header_tag
	height: 60px
	display: flex
	justify-content: flex-end
	align-items: center
	border-bottom: 1px solid #E9E9E9
	margin-bottom: 0
	padding-bottom: 20px
	.createNew
		.fBtn
			margin-left: 30px
		.btnAdd
			margin-right: 10px
.tagGroups
	margin-top: 16px
	position: relative
	.popopver
		z-index: 10000
		position: absolute
		right: 0
		top: 4px
		font-size: 12px
		color: #666
		i
			font-size: 14px
			color: #666
			margin-left: 5px
	.ant-tabs-bar
		border: 0
		margin-bottom: 4px
	.ant-tabs-nav-wrap
		height: 28px
		.ant-tabs-tab
			padding: 6px 15px
			color: #666
			font-size: 12px
			border: 1px solid #d9d9d9!important
			.ant-tabs-close-x
				color: #fff!important
				display: none
	.ant-tabs-tab-active
		border: 1px solid #4f9863
		.ant-tabs-close-x
			display: inline-block !important
	.chart_tag
		.column
			width: 33.3% !important
			border-bottom: 0!important
.singleTab
	background: #FF9C4B!important
	
.u_confirm_header
	font-size: 14px
	color: #666
	display: flex
	justify-content: space-between
	align-items: center
	i
		font-size: 14px
		color: #666
.U_confirm
	width: 100%
	height: 30px
	display: flex
	font-size: 12px
	color: #666
	justify-content: center
	align-items: center
	i
		font-size: 14px
		color: #FF9C4B
		margin-right: 10px
.ant-modal-confirm-btns
	margin: 0
	width: 100%
	padding: 0 30px
	display: flex
	justify-content: center
	align-items: center
