.specification
	width: 100%
	padding: 0 10px
	.display
		display: none
	.specification_body
		margin-top: 20px
		margin-bottom: 30px
		//.ant-upload
		//	width: 50px!important
		//	height: 50px!important
		.ant-table
			font-size: 12px
		.ant-table-thead
			tr
				th
					background: #F6F7FA !important
					color: #666 !important
					padding: 11px 16px
		.ant-table-body
			tr
				td
					text-align: center
		.ant-input
			height: 30px
		.ant-input-group-addon
			font-size: 12px
