
.printSheet
	margin-top: 20px
	background: #fff
	padding-bottom: 20px
	height: 100vh
	h3
		width: 100%
		display: flex
		justify-content: center
		align-items: center
		font-size: 30px
	.u_chart
		margin-bottom: 20px
		td
			border-bottom: 1px solid #000 !important
			border-right: 1px solid #000 !important
			border-left: 1px solid #000!important
		tr
			th
				border-bottom: 1px solid #000
				border-right: 1px solid #000
				border-top: 1px solid #000
				border-left: 1px solid #000
