.ant-layout-sider
	display: flex
	justify-content: center
	align-items: center
	flex: 0 0 auto!important
	min-width: 100px!important
	background: #fff !important
	margin: 0!important
	width: 216px!important
	height: calc(100vh - 144px)!important

.ant-layout-sider-children
	height: calc(100vh - 144px)!important

	
.ant-menu-item
	background: #ffffff!important
	padding-left: 70px!important
	margin: 0!important
	text-align: center!important
	height: 50px!important
	line-height: 50px!important
	border-bottom: 1px solid #f4f4f4
	&:after
		content: ""
		border-right: none!important
	a
		display: flex
		justify-content: flex-start
		align-items: center
		font-size: 12px
		&:hover
			color: #999!important
		.anticon
			font-size: 16px
			color: #999!important
		

.ant-menu-item-selected
	a
		.anticon
			color: #4f9863!important
		span
			color: #4f9863!important
	&:after
		content: ""
		border-right: none!important
	&:before
		content: ""
		position: absolute
		left: 0
		top: 0
		bottom: 0
		right: 0
		border-left: 3px solid #4f9863
		
