@import '~antd/dist/antd.css'
body
    background: #F0F0F0

.app
    display: flex
    justify-content: space-between

.container
    height: calc(100vh - 144px)
    background: #fff
    margin: 20px
    margin-right: 0
    overflow: auto
    flex: 5
    padding: 20px
